@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Sawarabi+Gothic&display=swap');

.icon{
    color:#E4DAD9;
    padding-left: 10px;
    padding-right: 10px;
}

a:link, a:visited, a:hover, a:active {
    color: rgb(0, 187, 255);
}

body {
    background-color: #53768A;
    color: #E4DAD9;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Sawarabi Gothic', sans-serif;
}
.main {
    padding-left: 2%;
}
.icon_photo{
    border-radius: 35px;
    width: 200px;
    height: 200px;
    border-radius: 20px;
}
.strong{
    color: #E09329;
}